@media (max-width: 723px) {

    /* Common */
    .s-col-full{
        width: 100%;
    }


    /* Header */
    #header {
        overflow: hidden;
    }

    #header .btn-search {
        display: none;
    }

    #header .btn-mobile-menu {
        display: block;
    }

    /* Nav style */
    #nav-wrapper .nav>li {
        float: none;
    }

    #nav-wrapper .nav>li:first-child {
        display: inline-block;
    }


    .nav .sub-nav {
        position: initial;
        background-color: #333;
    }

    .nav .sub-nav a {
        padding: 13px 38px;
        color: #fff;
    }

    /* Band */
    #band .member-item {
        width: 100%;
        margin-top: 30px;
    }

    /* Tour */
    #tour .tour-item {
        width: 100%;
        margin-top: 16px;
    }

    /* Contact */
    #contact .contact-mobile{
        padding: 0;
        font-size: 1.8rem;
    }

    #contact .contact-mobile input{
        padding: 8px;
        font-size: 1.6rem;
    }
}